<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nl.onl.custom">

	<!-- 	resultMap: property(dto의 맴버필드), column(DB컬럼명) -->
	<resultMap type="com.nl.onl.dtos.QnaDto" id="QnaDtoMap">
		<result property="seq" column="SEQ" />
		<result property="qna_code" column="QNA_CODE" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="id" column="ID" />
		<result property="regdate" column="REGDATE" />
		<result property="ref" column="REF" />
		<result property="process" column="PROCESS" />
		<result property="category_name" column="CATEGORY_NAME" />
	</resultMap>
	
<!-- 	QNA목록보기 -->
	<select id="getAllListQna" resultMap="QnaDtoMap"
	 parameterType="Map">
		 SELECT a.SEQ,a.ID, a.CATEGORY_NAME,a.TITLE,a.PROCESS,a.REGDATE,a.QNA_CODE
			    FROM (SELECT ROW_NUMBER() OVER(ORDER BY REGDATE DESC) RN,
				    q.SEQ, q.ID, q.TITLE, q.CONTENT, q.REGDATE ,q.PROCESS ,c.CATEGORY_NAME,q.REF,q.QNA_CODE
					FROM QNA q , QNA_CATEGORY c WHERE q.QNA_CODE =c.QNA_CODE
					<if test="qna_code!=null">
			    		AND q.QNA_CODE=#{qna_code}
			    	</if>
					 ) a
			    WHERE CEIL(RN/5)=#{pnum} AND a.REF=a.SEQ
			  
	</select>
	
<!-- 	QNA페이징1    -->
<!-- 	<select id="pcountQna" resultType="int"> -->
<!-- 		SELECT CEIL(COUNT(*)/5) FROM QNA  -->
<!-- 	</select> -->
	
	<!-- 	QNA페이징 -->
	<select id="pcountQna" resultType="int" parameterType="String">
		SELECT CEIL(COUNT(*)/5) AS COUNT 
		FROM QNA q , QNA_CATEGORY c 
		WHERE q.QNA_CODE =c.QNA_CODE 
		<if test="qna_code!=null">
			    		AND q.QNA_CODE=#{qna_code}
		</if>
	</select>
	
<!-- 	QNA상세보기 -->
	<select id="detailQna" resultMap="QnaDtoMap"
		 parameterType="String">
		SELECT q.SEQ, c.CATEGORY_NAME, q.TITLE, q.CONTENT, q.ID, q.REGDATE, q.PROCESS, q.QNA_CODE
		FROM QNA q ,QNA_CATEGORY c
		WHERE q.QNA_CODE = c.QNA_CODE AND REF=#{seq}
		ORDER BY REGDATE ASC
		</select>
		
<!-- 		SELECT SEQ ,QNA_CODE ,TITLE ,CONTENT ,ID ,REGDATE ,PROCESS  -->
<!-- FROM QNA  -->
<!-- WHERE "REF" =2 -->
<!-- ORDER BY REGDATE ASC  -->

<!-- 	QNA쓰기 -->
	<insert id="insertQna" parameterType="QnaDto">
		INSERT INTO QNA
		VALUES (QNA_SEQ.NEXTVAL
				,#{qna_code},#{title},#{content},#{id}, SYSDATE ,QNA_seq.CURRVAL,'WAIT')
	</insert>
	
<!-- 	QNA수정 -->
	<update id="updateQna" parameterType="QnaDto">
		UPDATE QNA SET QNA_CODE=#{qna_code},TITLE=#{title},CONTENT=#{content}
		, REGDATE=SYSDATE WHERE SEQ=#{seq}
	</update>
	
<!-- 	QNA삭제 -->
	<delete id="deleteQna" parameterType="String">
		DELETE FROM QNA WHERE SEQ =#{seq}
	</delete>

<!-- 	QNA댓글쓰기 -->
	<insert id="insertReplyQna" parameterType="QnaDto">
		INSERT INTO QNA
		VALUES (QNA_SEQ.nextval,#{qna_code},#{title},#{content},#{id},SYSDATE,
		(SELECT REF FROM QNA WHERE SEQ=#{seq}), 'COMPLETE')
	</insert>
	
<!-- 	QNA상태변경 -->
	<update id="updateProcess" parameterType="QnaDto">
		UPDATE QNA SET PROCESS = #{process} WHERE SEQ = #{seq}
	</update>
	
	<resultMap type="com.nl.onl.dtos.NoticeDto" id="NoticeDtoMap">
		<result property="seq" column="SEQ" />
		<result property="noticeflag" column="NOTICEFLAG" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regdate" column="REGDATE" />
	</resultMap>
	
<!-- 	공지사항목록보기 -->
	<select id="getAllListNotice" resultMap="NoticeDtoMap"
	 parameterType="String">
		 SELECT SEQ,ID,NOTICEFLAG,TITLE,PROCESS,REGDATE
			    FROM (SELECT ROW_NUMBER() OVER(ORDER BY REGDATE DESC) RN,
				    SEQ, NOTICEFLAG, TITLE, CONTENT, REGDATE 
					FROM NOTICE )
			    WHERE CEIL(RN/10)=#{pnum}
	</select>
	
	
<!-- 	공지사항 페이징 -->
	<select id="pcountNotice" resultType="int">
		SELECT CEIL(COUNT(*)/10) FROM NOTICE
	</select>
	
<!-- 	공지사항 상세보기 -->
	<select id="detailNotice" resultMap="QnaDtoMap"
		 parameterType="String">
		SELECT TITLE , REGDATE ,CONTENT
		FROM NOTICE 
		WHERE seq=#{seq}
		</select>

<!-- 	공지사항 쓰기 -->
	<insert id="insertNotice" parameterType="NoticeDto">
		INSERT INTO NOTICE VALUES (notice_seq.nextval, #{noticeflag},#{title},#{content},SYSDATE)
	</insert>
	
<!-- 	공지사항 수정 -->
	<update id="updateNotice" parameterType="NoticeDto">
		UPDATE NOTICE SET NOTICEFLAG =#{noticeflag}, TITLE=#{title}, CONTENT=#{content} WHERE SEQ=#{seq}
	</update>
	
<!-- 	공지사항 삭제 -->
	<delete id="deleteNotice" parameterType="String">
		DELETE FROM NOTICE WHERE seq=#{seq}
	
	</delete>

</mapper>

                   












