<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nl.onl.file">
	
	<!-- 첨부파일 업로드 -->
	<insert id="insertFile" parameterType="FileDto">
		INSERT INTO UPLOAD_FILE VALUES(
				UPLOAD_FILE_SEQ.NEXTVAL, #{origin_name}, #{stored_name}, SYSDATE, 'N', #{board_type}, #{id}, 
				<choose>
					<when test="post_seq==0">
						<if test="board_type.equals('WANTED_POST')">
							WANTED_POST_SEQ.CURRVAL
						</if>
						<if test="board_type.equals('REPORTLIST')">
							REPRTLIST_SEQ.CURRVAL
						</if>
						<if test="board_type.equals('PROFILE')">
							0
						</if>
						<if test="board_type.equals('NOTICE')">
							NOTICE_SEQ.CURRVAL
						</if>
						<if test="board_type.equals('QNA')">
							QNA_SEQ.CURRVAL
						</if>
					</when>
					<otherwise>
						#{post_seq}
					</otherwise>
				</choose>	
		)
	</insert>
	
	<!-- 첨부파일 여러장 한번에 업로드(미사용) -->
<!-- 	<insert id="insertMultiFile" parameterType="java.util.List"> -->
<!-- 		INSERT ALL -->
<!-- 		<foreach collection="list" open="INTO UPLOAD_FILE VALUES(" close=")" separator=") INTO UPLOAD_FILE VALUES(" item="fdto"> -->
<!-- 			UPLOAD_FILE_SEQ.NEXTVAL, #{fdto.origin_name}, #{fdto.stored_name}, SYSDATE, 'N', #{fdto.board_type}, #{fdto.id},  -->
<!-- 			<choose> -->
<!-- 				<when test="fdto.post_seq==0"> -->
<!-- 					<if test="fdto.board_type.equals('WANTED_POST')"> -->
<!-- 						WANTED_POST_SEQ.CURRVAL -->
<!-- 					</if> -->
<!-- 					<if test="fdto.board_type.equals('REPORTLIST')"> -->
<!-- 						REPRTLIST_SEQ.CURRVAL -->
<!-- 					</if> -->
<!-- 					<if test="fdto.board_type.equals('PROFILE')"> -->
<!-- 						0 -->
<!-- 					</if> -->
<!-- 					<if test="fdto.board_type.equals('NOTICE')"> -->
<!-- 						NOTICE_SEQ.CURRVAL -->
<!-- 					</if> -->
<!-- 					<if test="fdto.board_type.equals('QNA')"> -->
<!-- 						QNA_SEQ.CURRVAL -->
<!-- 					</if> -->
<!-- 				</when> -->
<!-- 				<otherwise> -->
<!-- 					#{fdto.post_seq} -->
<!-- 				</otherwise> -->
<!-- 			</choose> -->
<!-- 		</foreach> -->
<!-- 		SELECT * FROM dual -->
<!-- 	</insert> -->
	
	<!-- 첨부파일 삭제 -->
	<update id="delFiles" parameterType="map">
		UPDATE 	UPLOAD_FILE 
		SET 	DELFLAG = 'Y'
		WHERE 	SEQ IN
				<foreach collection="array" open="(" close=")" separator="," item="seq">
				#{seq}
				</foreach>
	</update>
	
	<!-- 첨부파일 불러오기(단독, join x) -->
	<select id="getFiles" parameterType="map" resultType="FileDto">
		SELECT  SEQ, ORIGIN_NAME, STORED_NAME, REGDATE
		FROM 	UPLOAD_FILE 
		WHERE 	BOARD_TYPE = #{board_type} AND
				<if test="post_seq!=null">
				POST_SEQ = #{post_seq} AND
				</if> 
				DELFLAG = 'N'
	</select>
	
</mapper>