<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nl.onl.login">
	
	<resultMap type="ProfileDto" id="ProfileDtoMap">
		<result column="SEQ" property="seq"/>
		<result column="ID" property="id"/>
		<result column="INTRO" property="intro"/>
		<result column="LOCATION_ABLE" property="location_able"/>
		<result column="SEARCH_SCORE" property="search_score"/>
		<result column="OFFER_SCORE" property="offer_score"/>
		<result column="NICKNAME" property="nickname"/>
		<collection property="filedto" resultMap="FileDtoMap"/>
	</resultMap>
	
	<resultMap type="FileDto" id="FileDtoMap">
		<result column="SEQ" property="seq"/>
		<result column="ORIGIN_NAME" property="origin_name"/>
		<result column="STORED_NAME" property="stored_name"/>
		<result column="REGDATE" property="regdate"/>
		<result column="DELFLAG" property="delflag"/>
		<result column="BOARD_TYPE" property="board_type"/>
		<result column="ID" property="id"/>
		<result column="POST_SEQ" property="post_seq"/>
	</resultMap>
	
	<resultMap type="WantedDto" id="WantedDtoMap">
		<result column="SEQ" property="seq"/>
		<result column="ID" property="id"/>
		<result column="CATEGORY" property="category"/>
		<result column="TITLE" property="title"/>
		<result column="REGDATE" property="regdate"/>
		<result column="DEADLINE" property="deadline"/>
		<result column="SDATE" property="sdate"/>
		<result column="EDATE" property="edate"/>
		<result column="LOCATION" property="location"/>
		<result column="STIME" property="stime"/>
		<result column="ETIME" property="etime"/>
		<result column="SALARY" property="salary"/>
		<result column="CONTENT" property="content"/>
		<result column="PHONE" property="phone"/>
		<result column="VIEWS" property="views"/>
		<result column="STATE" property="state"/>
		<result column="DELFLAG" property="delflag"/>
		<result column="SOSFLAG" property="sosflag"/>
		<result column="SELECTOR" property="selector"/>
		<result column="LOC_DETAIL" property="loc_detail"/>
		<result column="LOC_NAME" property="loc_name"/>
		<result column="WHITELIST" property="whitelist"/>
		<result column="WISHLIST" property="wishlist"/>
		<result column="RESULT_C" property="result_c"/>

		<result column="NICKNAME" property="nickname"/>
		<result column="APPLY" property="apply"/>
		<result column="APPLY_C" property="apply_c"/>
		<result column="SELECTED" property="selected"/>
		
		<result column="F_SEQ" property="fileDto.seq"/>
		<result column="ORIGIN_NAME" property="fileDto.origin_name"/>
		<result column="STORED_NAME" property="fileDto.stored_name"/>
		<result column="F_REGDATE" property="fileDto.regdate"/>
		<result column="F_DELFLAG" property="fileDto.delflag"/>
		<result column="BOARD_TYPE" property="fileDto.board_type"/>
		<result column="F_ID" property="fileDto.id"/>
		<result column="POST_SEQ" property="fileDto.post_seq"/>
		
		<collection property="categoryDto" resultMap="CategoryDtoMap"/>
	</resultMap>
	
	<resultMap type="CategoryDto" id="CategoryDtoMap">
		<result column="CODE1" property="code1"/>
		<result column="CODE2" property="code2"/>
		<result column="CATEGORY_NAME1" property="category_name1"/>
		<result column="CATEGORY_NAME2" property="category_name2"/>
	</resultMap>
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="LoginDto">
		INSERT INTO MEMBER 
		VALUES (
				#{regflag}||TO_CHAR(MEMBER_SEQ.NEXTVAL), #{password}, #{name}, #{address_1}, #{address_2}, #{address_3}, #{email}, 
				<choose>
					<when test="nickname!=null">
					#{nickname}, 
					</when>
					<otherwise>
					#{name}, 
					</otherwise>
				</choose>
				#{birth,  jdbcType=DATE},
				'N', SYSDATE, #{role}, #{phone}, #{regflag}
				)
	</insert>
	
	<!-- 이메일 중복검사 -->
	<select id="checkEmail" parameterType="String" resultType="String">
		SELECT EMAIL FROM MEMBER WHERE EMAIL = #{email}
	</select>
	
	<!-- 로그인 -->
	<select id="login" parameterType="String" resultType="LoginDto">
		SELECT 	m.ID, m.PASSWORD, m.NICKNAME, m.NAME, m.DELFLAG, m.ROLE, m.PHONE, m.EMAIL , f.STORED_NAME, m.ADDRESS_1, m.ADDRESS_2, m.ADDRESS_3,
				CASE 
				WHEN EXISTS (SELECT 1 FROM MEMBER_ACCOUNT WHERE ID = m.ID)
				THEN 'Y'
				ELSE 'N'
				END AS HASACC
		FROM 	"MEMBER" m , 
				(SELECT	STORED_NAME, ID
				 FROM	UPLOAD_FILE
				 WHERE	BOARD_TYPE = 'PROFILE') f 
		WHERE 	m.EMAIL = #{email} AND m.ID = f.ID(+) 
	</select>
	
	<!-- 정보수정 -->
	<update id="updateInfo" parameterType="LoginDto">
		UPDATE MEMBER 
		SET <if test="password!=null">PASSWORD = #{password},</if>
			ADDRESS_1 = #{address_1},
			ADDRESS_2 = #{address_2},
			ADDRESS_3 = #{address_3},
			EMAIL = #{email},
			NICKNAME = #{nickname},
			BIRTH = #{birth},
			PHONE = #{phone}
	</update>
	
	<!-- 탈퇴 및 정지 -->
	<update id="updateDelflag" parameterType="String">
		UPDATE MEMBER
		SET DELFLAG = 'Y' AND REGDATE = SYSDATE 
		WHERE ID = #{id}
	</update>
	
	<!-- 회원정보 영구삭제 -->
	<delete id="deleteMember">
		DELETE MEMBER 
		WHERE DELFLAG = 'Y' AND (SYSDATE-REGDATE) >= 180
	</delete>
	
	<!-- 프로필 작성 -->
	<insert id="insertProfile" parameterType="ProfileDto">
		INSERT INTO PROFILE
		VALUES (
				PROFILE_SEQ.NEXTVAL, #{id}, #{intro}, #{location_able}
				)
	</insert>
	
	<!-- 프로필 보기 -->
	<select id="getProfile" parameterType="String" resultMap="ProfileDtoMap">
		SELECT	 m.ID , m.NICKNAME , NVL(p.INTRO, '아직 작성하지 않았습니다.') AS INTRO, NVL(p.LOCATION_ABLE, '0') AS LOCATION_ABLE,
				CASE 
				WHEN NOT EXISTS (SELECT 1 FROM REVIEW_POST rp WHERE rp."TYPE" = 'SEARCH' AND m.ID  = rp.TARGET_ID ) THEN 0
				ELSE (SELECT AVG(rp.SCORE) FROM REVIEW_POST rp WHERE rp."TYPE" = 'SEARCH' AND m.ID = rp.TARGET_ID)
				END AS search_score,
				CASE 
				WHEN NOT EXISTS (SELECT 1 FROM REVIEW_POST rp WHERE rp."TYPE" = 'OFFER' AND m.ID  = rp.TARGET_ID ) THEN 0
				ELSE (SELECT AVG(rp.SCORE) FROM REVIEW_POST rp WHERE rp."TYPE" = 'OFFER' AND m.ID = rp.TARGET_ID)
				END AS offer_score, f.STORED_NAME
		FROM 	"MEMBER" m , PROFILE p ,
				(SELECT STORED_NAME, ID 
				 FROM UPLOAD_FILE 
				 WHERE BOARD_TYPE = 'PROFILE' AND ID = #{id}) f
		WHERE 	m.ID = #{id} AND m.ID = p.ID(+) AND m.ID = f.ID(+) 
	</select>
	
	<!-- 프로필 수정 -->
	<update id="updateProfile" parameterType="ProfileDto">
		UPDATE PROFILE
		SET INTRO = #{intro},
			LOCATION_ABLE = #{location_able}
		WHERE ID = #{id}
	</update>
	
	<!-- 찜글 목록 가져오기(로그인) -->
	<select id="getWishList" resultMap="WantedDtoMap" parameterType="map">
		SELECT 	SEQ, CATEGORY, CATEGORY_NAME1, CATEGORY_NAME2, TITLE, SALARY, REGDATE, DEADLINE, STATE , RESULT_C, NICKNAME, LOCATION, LOC_DETAIL
		FROM 	(SELECT ROW_NUMBER() OVER(ORDER BY wl.SEQ DESC) AS rn, wp.SEQ , wp.CATEGORY , wc1.CATEGORY_NAME as CATEGORY_NAME1, wc2.CATEGORY_NAME as CATEGORY_NAME2, wp.TITLE , wp.SALARY , wp.REGDATE , wp.DEADLINE , wp.STATE, COUNT(wp.SEQ) OVER() AS RESULT_C, wp.LOCATION, wp.LOC_DETAIL, m.NICKNAME
				 FROM	WANTED_POST wp , WANTED_CATEGORY1 wc1, WANTED_CATEGORY2 wc2, "MEMBER" m,
						 (SELECT SEQ, WANTED_SEQ 
						  FROM 	WISHLIST 
						  WHERE ID = #{id}) wl
				 WHERE 	wl.WANTED_SEQ = wp.SEQ AND wp.DELFLAG = 'N' AND SUBSTR(wp.CATEGORY, 1, 1) = wc1.CODE AND wp.CATEGORY = wc2.CODE AND wp.ID = m.ID)
		WHERE 	CEIL(RN/20)=#{pnum}
	</select>
	
	<!-- 내가 지원한 구인글 시퀀스 목록(로그인) -->
	<select id="getApplySeq" parameterType="String" resultType="String">
		SELECT WANTED_SEQ FROM APPLYLIST WHERE ID = #{id}
	</select>
</mapper>