<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nl.onl.payment">
	
	<!-- 지급동의 테이블 관련 쿼리 -->
	<!-- 구인글 매칭시 지급동의 테이블 insert -->
	<insert id="insertAgree" parameterType="map">
		INSERT INTO PAY_AGREE VALUES(
			#{wanted_seq}, 'N', 'N', SYSDATE, #{salary}
		)
	</insert>
	
	<!-- 지원자 변경, 구인 취소시 지급동의 테이블 삭제 -->
	<delete id="deleteAgree" parameterType="String">
		DELETE FROM PAY_AGREE WHERE WANTED_SEQ = #{seq}
	</delete>	
	
	<!-- 지급동의서 update(지급제안): 패러미터는 구인구직 식별자, 동의여부, 제안금액 -->
	<update id="updateAgree" parameterType="map">
		UPDATE 	PAY_AGREE 
				SET
				<if test="agree.equals('Y')">
					<choose>
					<when test="type.equals('search')">
						SEARCH_AGREE = #{agree}, 
					</when>
					<otherwise>
						OFFER_AGREE = #{agree}, 
					</otherwise>
				</choose>
				</if>
				<if test="agree.equals('N')">
					<choose>
					<when test="type.equals('search')">
						SEARCH_AGREE = 'Y', 
						OFFER_AGREE = 'N'
					</when>
					<otherwise>
						OFFER_AGREE = 'Y',
						SEARCH_AGREE = 'N' 
					</otherwise>
				</choose>
				</if>
				<if test="suggestion!=null">
					SUGGESTION = #{suggestion}, 
				</if>
				REGDATE = SYSDATE
		WHERE WANTED_SEQ = #{seq}
	</update>
	
	<!-- 지급제안 보기 -->
	<select id="getAgree" parameterType="String">
		SELECT 	wp.TITLE, wp.CONTENT, pa.SUGGESTION
		FROM 	PAY_AGREE pa, WANTED_POST wp
		WHERE	wp.SEQ = #{seq}, wp.SEQ = pa.WANTED_SEQ
	</select>
	
	<!-- 한쪽이 Y면서 최종수정일이 7일이상인 경우(<-select문으로 목록 넘겨받기) 자동결제 -->
	
	<select id="forceSelect" resultType="String">
		SELECT	wp.SEQ
		FROM	WANTED_POST wp, PAY_AGREE pa
		WHERE	wp.SEQ = pa.WANTED_SEQ 
				AND (pa.SEARCH_AGREE = 'Y' OR pa.SEARCH_AGREE = 'Y')
				AND NOT (pa.SEARCH_AGREE = 'Y' AND pa.SEARCH_AGREE = 'Y')
				AND pa.REGDATE+7 &lt;= SYSDATE
	</select>
	<update id="forceUpdate" parameterType="map">
		UPDATE 	PAY_AGREE
				SET 
				SEARCH_AGREE = 'Y',
				OFFER_AGREE = 'Y'
		WHERE	WANTED_SEQ IN
				<foreach collection="array" open="(" close=")" separator="," item="wanted_seq">
					#{wanted_seq}
				</foreach>
	</update>
	
	<!-- ..................................................................................................... -->
	<!-- 예치금 관리용 쿼리 -->
	<!-- 예치금 잔액 및 거래내역 조회 -->
	
	<select id="getPayment" parameterType="String" resultType="ChargeDto">
		SELECT 	p1.SEQ, p1.MONEY, p1.REGDATE, p1.BALANCE, p1.CANCELFLAG, p1."TYPE", ALLBAL
		FROM 	PREPAID p1,
				(
				SELECT	SUM(BALANCE) as ALLBAL, ID 
				FROM	PREPAID
				WHERE 	ID = #{id} AND CANCELFLAG = 'N'
				GROUP BY ID
				) p2
		WHERE 	p1.ID = p2.ID
	</select>
	
	<!-- 예치금 기록 생성 -->
	
	<insert id="insertPayment" parameterType="ChargeDto">
		INSERT INTO PREPAID 
		VALUES	(
				PREPAID_SEQ.NEXTVAL, #{id}, #{money}, SYSDATE, #{balance}, 'N', #{type}
		)
	</insert>
	
	
	<!-- 예치금 기록 변동(구인글 결제, 환불, 구인글 취소) -->
	<update id="updatePayment" parameterType="map">
		UPDATE 	PREPAID
		SET 	BALANCE = #{balance}
				<if test="cancelflag!=null">
				CANCELFLAG = 'Y'
				</if>
		WHERE 	SEQ = #{seq}
	</update>
	
	
</mapper>